[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
action_warnings=True

# (pathspec) Colon separated paths in which Ansible will search for Roles.
roles_path=./roles